In [1]:
import os
import sys
import pandas as pd

sys.path.append(os.path.join(os.path.dirname(os.getcwd()), 'src'))
from database import DB

In [2]:
db = DB()
db.initialise()

In [3]:
db.get_table_name(view=True)

                           view_name
0                    view_match_info
1                     view_set_match
2                view_set_match_info
3           view_set_match_info_away
4         view_set_match_info_concat
5           view_set_match_info_home
6  view_set_match_player_performance

In [23]:
temp_df = db.get_table('view_set_match_info_concat')

In [46]:
temp_df.loc[19]

league_name                             BL
year                                  2020
season                              spring
date                            2020-02-04
set_number                               1
team_1                              Aethra
team_2                     Timeout Esports
corresponding_team                  Aethra
tiebreaker                               0
match_round                              3
wdl                                   None
side                                  None
game_length                            NaN
top_player                            None
jg_player                             None
mid_player                            None
bot_player                            None
sup_player                            None
ban1                                  None
ban2                                  None
ban3                                  None
ban4                                  None
ban5                                  None
team_kills                             NaN
team_deaths                            NaN
team_double                            NaN
team_triple                            NaN
team_quadra                            NaN
team_penta                             NaN
team_kpm                               NaN
team_first_blood                       NaN
team_first_baron                       NaN
team_first_dragon                      NaN
team_first_elder                      None
team_first_rift                        NaN
team_first_tower                       NaN
team_first_inhib                      None
team_first_midtower                    NaN
team_first_three_towers                NaN
team_baron_kills                       NaN
team_dragon_kills                      NaN
team_elder_kills                       NaN
team_rift_kills                        NaN
team_tower_kills                       NaN
team_inhib_kills                       NaN
team_total_gold                        NaN
team_earned_gold                       NaN
team_minion_kills                      NaN
team_monster_kills                     NaN
team_goldat10                          NaN
team_goldat15                          NaN
team_golddiffat10                      NaN
team_golddiffat15                      NaN
team_csat10                            NaN
team_csat15                            NaN
team_csdiffat10                        NaN
team_csdiffat15                        NaN
Name: 19, dtype: object

In [43]:
temp_df[(temp_df['league_name']=='LCK') & (temp_df['year']==2020) & (temp_df['season']=='summer') & (temp_df['corresponding_team']=='T1')]

,league_name,year,season,date,set_number,team_1,team_2,corresponding_team,tiebreaker,match_round,...,team_minion_kills,team_monster_kills,team_goldat10,team_goldat15,team_golddiffat10,team_golddiffat15,team_csat10,team_csat15,team_csdiffat10,team_csdiffat15
8921,LCK,2020,summer,2020-06-17,1,DragonX,T1,T1,0,1,...,760.0,163.0,14249.0,22692.0,-2782.0,-4441.0,316.0,506.0,-58.0,-108.0
8926,LCK,2020,summer,2020-06-17,2,DragonX,T1,T1,0,1,...,1133.0,275.0,15313.0,23448.0,308.0,-811.0,336.0,528.0,-3.0,-27.0
8928,LCK,2020,summer,2020-06-17,3,DragonX,T1,T1,0,1,...,1016.0,240.0,16093.0,25413.0,969.0,1716.0,346.0,556.0,-2.0,-2.0
8951,LCK,2020,summer,2020-06-20,1,T1,Hanwha,T1,0,1,...,968.0,307.0,17485.0,25965.0,2683.0,2828.0,307.0,513.0,-29.0,-17.0
8956,LCK,2020,summer,2020-06-20,2,T1,Hanwha,T1,0,1,...,850.0,222.0,15167.0,25331.0,575.0,1773.0,319.0,520.0,17.0,38.0
8959,LCK,2020,summer,2020-06-20,3,T1,Hanwha,T1,0,1,...,875.0,237.0,15086.0,24349.0,209.0,1134.0,350.0,556.0,12.0,12.0
8997,LCK,2020,summer,2020-06-26,1,Afreeca,T1,T1,0,2,...,942.0,230.0,14830.0,23569.0,-881.0,-1071.0,343.0,549.0,-4.0,-7.0
8999,LCK,2020,summer,2020-06-26,2,Afreeca,T1,T1,0,2,...,708.0,234.0,17817.0,27016.0,2510.0,4079.0,349.0,578.0,21.0,44.0
9003,LCK,2020,summer,2020-06-26,3,Afreeca,T1,T1,0,2,...,841.0,307.0,17119.0,28190.0,1747.0,4727.0,338.0,547.0,32.0,47.0
9014,LCK,2020,summer,2020-06-28,1,T1,Sandbox,T1,0,2,...,913.0,236.0,15884.0,25235.0,687.0,1063.0,358.0,543.0,3.0,45.0
9016,LCK,2020,summer,2020-06-28,2,T1,Sandbox,T1,0,2,...,1049.0,233.0,14969.0,23613.0,-151.0,-1247.0,350.0,553.0,13.0,14.0
9022,LCK,2020,summer,2020-07-01,1,T1,Damwon,T1,0,3,...,942.0,244.0,15341.0,24151.0,-163.0,288.0,358.0,565.0,-1.0,-8.0
9025,LCK,2020,summer,2020-07-01,2,T1,Damwon,T1,0,3,...,1327.0,281.0,15631.0,23866.0,1104.0,510.0,302.0,517.0,-2.0,25.0
9038,LCK,2020,summer,2020-07-03,1,T1,GenG,T1,0,3,...,1139.0,284.0,15240.0,22688.0,-508.0,-1669.0,333.0,525.0,-20.0,-51.0
9040,LCK,2020,summer,2020-07-03,2,T1,GenG,T1,0,3,...,682.0,157.0,16694.0,25439.0,1831.0,1396.0,304.0,528.0,-4.0,0.0
9073,LCK,2020,summer,2020-07-09,1,T1,SeolHaeOne Prince,T1,0,4,...,972.0,262.0,16385.0,26167.0,951.0,2747.0,358.0,560.0,11.0,13.0
9079,LCK,2020,summer,2020-07-09,2,T1,SeolHaeOne Prince,T1,0,4,...,805.0,213.0,15370.0,25582.0,334.0,2056.0,328.0,544.0,29.0,50.0
9101,LCK,2020,summer,2020-07-12,1,T1,Dynamics,T1,0,4,...,990.0,287.0,16059.0,25583.0,394.0,470.0,351.0,577.0,19.0,30.0
9102,LCK,2020,summer,2020-07-12,2,T1,Dynamics,T1,0,4,...,827.0,188.0,15837.0,24448.0,594.0,-1117.0,356.0,563.0,-1.0,6.0
9107,LCK,2020,summer,2020-07-12,3,T1,Dynamics,T1,0,4,...,1253.0,320.0,16634.0,24530.0,1810.0,985.0,375.0,555.0,34.0,26.0
9118,LCK,2020,summer,2020-07-16,1,KT,T1,T1,0,5,...,798.0,209.0,15850.0,25747.0,608.0,1779.0,349.0,572.0,-6.0,17.0
9121,LCK,2020,summer,2020-07-16,2,KT,T1,T1,0,5,...,1228.0,355.0,15474.0,23819.0,-360.0,-1562.0,336.0,552.0,2.0,12.0
9136,LCK,2020,summer,2020-07-18,1,T1,GenG,T1,0,5,...,947.0,230.0,14637.0,23557.0,-906.0,-1550.0,337.0,552.0,-19.0,-20.0
9138,LCK,2020,summer,2020-07-18,2,T1,GenG,T1,0,5,...,794.0,186.0,15442.0,23145.0,-1099.0,-1869.0,338.0,539.0,-6.0,-12.0
9173,LCK,2020,summer,2020-07-25,1,T1,Hanwha,T1,0,6,...,870.0,189.0,14851.0,23625.0,178.0,1272.0,342.0,561.0,19.0,32.0
9174,LCK,2020,summer,2020-07-25,2,T1,Hanwha,T1,0,6,...,702.0,174.0,15366.0,24939.0,564.0,-246.0,351.0,548.0,19.0,18.0
9181,LCK,2020,summer,2020-07-25,3,T1,Hanwha,T1,0,6,...,749.0,224.0,15758.0,26480.0,265.0,1767.0,356.0,564.0,25.0,68.0
9201,LCK,2020,summer,2020-07-31,1,KT,T1,T1,0,7,...,1109.0,301.0,16541.0,24320.0,-669.0,-1161.0,335.0,515.0,-7.0,-30.0
9207,LCK,2020,summer,2020-07-31,2,KT,T1,T1,0,7,...,911.0,237.0,15349.0,24778.0,-616.0,-1384.0,316.0,509.0,-29.0,-33.0
9219,LCK,2020,summer,2020-08-02,1,T1,Sandbox,T1,0,7,...,714.0,200.0,14510.0,25649.0,-34.0,4212.0,322.0,532.0,55.0,113.0
9225,LCK,2020,summer,2020-08-02,2,T1,Sandbox,T1,0,7,...,656.0,206.0,15961.0,27306.0,996.0,3913.0,343.0,512.0,19.0,32.0
9227,LCK,2020,summer,2020-08-06,1,T1,SeolHaeOne Prince,T1,0,8,...,849.0,237.0,16177.0,26881.0,1306.0,4153.0,366.0,587.0,32.0,84.0
9233,LCK,2020,summer,2020-08-06,2,T1,SeolHaeOne Prince,T1,0,8,...,838.0,246.0,16735.0,27827.0,1997.0,3663.0,339.0,538.0,26.0,33.0
9256,LCK,2020,summer,2020-08-09,1,T1,Dynamics,T1,0,8,...,1113.0,281.0,15042.0,23109.0,-136.0,183.0,314.0,497.0,-16.0,-2.0
9263,LCK,2020,summer,2020-08-09,2,T1,Dynamics,T1,0,8,...,747.0,196.0,16798.0,26882.0,2351.0,4751.0,329.0,514.0,6.0,7.0
9267,LCK,2020,summer,2020-08-13,1,Afreeca,T1,T1,0,9,...,854.0,222.0,15717.0,26469.0,1072.0,4887.0,344.0,542.0,7.0,39.0
9273,LCK,2020,summer,2020-08-13,2,Afreeca,T1,T1,0,9,...,810.0,215.0,16792.0,27191.0,1773.0,3022.0,318.0,503.0,-2.0,-26.0
9304,LCK,2020,summer,2020-08-20,1,T1,Damwon,T1,0,10,...,810.0,205.0,15208.0,22990.0,-180.0,-2496.0,351.0,559.0,14.0,28.0
9311,LCK,2020,summer,2020-08-20,2,T1,Damwon,T1,0,10,...,951.0,239.0,15129.0,24524.0,-307.0,-1539.0,332.0,513.0,15.0,-10.0
9330,LCK,2020,summer,2020-08-23,1,DragonX,T1,T1,0,10,...,872.0,242.0,15520.0,24511.0,821.0,92.0,360.0,550.0,26.0,35.0
9337,LCK,2020,summer,2020-08-23,2,DragonX,T1,T1,0,10,...,1073.0,215.0,16085.0,24626.0,252.0,-857.0,341.0,529.0,-1.0,-20.0
9339,LCK,2020,summer,2020-08-23,3,DragonX,T1,T1,0,10,...,1057.0,342.0,17699.0,25500.0,2657.0,2025.0,318.0,521.0,-35.0,-35.0

In [25]:
temp_df[['league_name', 'year', 'season', 'set_number', 'team_1', 'team_2', 'corresponding_team', 'match_round', 'wdl']]

,league_name,year,season,set_number,team_1,team_2,corresponding_team,match_round,wdl
0,BL,2020,spring,1,Sector One,Timeout Esports,Sector One,1,W
1,BL,2020,spring,1,Brussels Guardians,KV Mechelen,Brussels Guardians,1,W
2,BL,2020,spring,1,Sector One,Aethra,Sector One,1,W
3,BL,2020,spring,1,Brussels Guardians,RSCA,Brussels Guardians,1,L
4,BL,2020,spring,1,Sector One,Aethra,Aethra,1,L
...,...,...,...,...,...,...,...,...,...
35687,VCS,2020,summer,1,Percent Esports,OverPower Esports,Percent Esports,9,L
35688,VCS,2020,summer,2,Percent Esports,OverPower Esports,Percent Esports,9,L
35689,VCS,2020,summer,2,Saigon Buffalo,EVOS Esports,Saigon Buffalo,9,L
35690,VCS,2020,summer,2,Percent Esports,OverPower Esports,OverPower Esports,9,W
35691,VCS,2020,summer,2,Saigon Buffalo,EVOS Esports,EVOS Esports,9,W

In [26]:
list(temp_df.columns)

['league_name',
 'year',
 'season',
 'date',
 'set_number',
 'team_1',
 'team_2',
 'corresponding_team',
 'tiebreaker',
 'match_round',
 'wdl',
 'side',
 'game_length',
 'top_player',
 'jg_player',
 'mid_player',
 'bot_player',
 'sup_player',
 'ban1',
 'ban2',
 'ban3',
 'ban4',
 'ban5',
 'team_kills',
 'team_deaths',
 'team_double',
 'team_triple',
 'team_quadra',
 'team_penta',
 'team_kpm',
 'team_first_blood',
 'team_first_baron',
 'team_first_dragon',
 'team_first_elder',
 'team_first_rift',
 'team_first_tower',
 'team_first_inhib',
 'team_first_midtower',
 'team_first_three_towers',
 'team_baron_kills',
 'team_dragon_kills',
 'team_elder_kills',
 'team_rift_kills',
 'team_tower_kills',
 'team_inhib_kills',
 'team_total_gold',
 'team_earned_gold',
 'team_minion_kills',
 'team_monster_kills',
 'team_goldat10',
 'team_goldat15',
 'team_golddiffat10',
 'team_golddiffat15',
 'team_csat10',
 'team_csat15',
 'team_csdiffat10',
 'team_csdiffat15']

In [27]:
temp_2020 = temp_df[(temp_df['year']==2020) & (temp_df['league_name'].isin(['LCK', 'LEC', 'LCS']))]
temp_1 = temp_2020[temp_2020['side']=='red']
temp_2 = temp_2020[temp_2020['side']=='blue']



temp_2020

,league_name,year,season,date,set_number,team_1,team_2,corresponding_team,tiebreaker,match_round,...,team_minion_kills,team_monster_kills,team_goldat10,team_goldat15,team_golddiffat10,team_golddiffat15,team_csat10,team_csat15,team_csdiffat10,team_csdiffat15
8474,LCK,2020,spring,2020-02-05,1,KT,GenG,GenG,0,1,...,743.0,160.0,15351.0,23247.0,806.0,98.0,304.0,516.0,-5.0,18.0
8475,LCK,2020,spring,2020-02-05,1,T1,Damwon,Damwon,0,1,...,1113.0,288.0,15597.0,23452.0,56.0,-1209.0,346.0,557.0,-22.0,-19.0
8476,LCK,2020,spring,2020-02-05,1,KT,GenG,KT,0,1,...,757.0,175.0,14545.0,23149.0,-806.0,-98.0,309.0,498.0,5.0,-18.0
8477,LCK,2020,spring,2020-02-05,1,T1,Damwon,T1,0,1,...,1100.0,296.0,15541.0,24661.0,-56.0,1209.0,368.0,576.0,22.0,19.0
8478,LCK,2020,spring,2020-02-05,2,T1,Damwon,T1,0,1,...,1273.0,339.0,15654.0,24285.0,-108.0,-455.0,341.0,559.0,-17.0,-11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21319,LEC,2020,summer,2020-08-10,1,Fnatic,SK Gaming,SK Gaming,0,8,...,767.0,190.0,14665.0,23104.0,-446.0,-3099.0,329.0,517.0,13.0,45.0
21320,LEC,2020,summer,2020-08-10,1,Team Vitality,Misfits,Misfits,0,8,...,1020.0,267.0,15310.0,25910.0,44.0,3155.0,333.0,546.0,8.0,26.0
21321,LEC,2020,summer,2020-08-10,1,MAD,FC Schalke,FC Schalke,0,8,...,947.0,259.0,15018.0,24044.0,74.0,1121.0,311.0,506.0,-4.0,14.0
21322,LEC,2020,summer,2020-08-10,1,Rogue,Origen,Origen,0,8,...,831.0,170.0,14321.0,22714.0,-895.0,-1270.0,315.0,465.0,16.0,-1.0
21323,LEC,2020,summer,2020-08-10,1,G2,Excel Esports,Excel Esports,0,8,...,708.0,107.0,14431.0,24117.0,-1690.0,-1493.0,304.0,485.0,-17.0,-12.0

In [29]:
temp_2['wdl'].value_counts()

W    440
L    359
Name: wdl, dtype: int64

In [30]:
temp_1['wdl'].value_counts()

L    440
W    359
Name: wdl, dtype: int64

In [33]:
temp_df.head()

,league_name,year,season,date,set_number,team_1,team_2,corresponding_team,tiebreaker,match_round,...,team_minion_kills,team_monster_kills,team_goldat10,team_goldat15,team_golddiffat10,team_golddiffat15,team_csat10,team_csat15,team_csdiffat10,team_csdiffat15
0,BL,2020,spring,2020-01-21,1,Sector One,Timeout Esports,Sector One,0,1,...,751.0,191.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BL,2020,spring,2020-01-21,1,Brussels Guardians,KV Mechelen,Brussels Guardians,0,1,...,911.0,249.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BL,2020,spring,2020-01-21,1,Sector One,Aethra,Sector One,0,1,...,640.0,167.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BL,2020,spring,2020-01-21,1,Brussels Guardians,RSCA,Brussels Guardians,0,1,...,651.0,139.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BL,2020,spring,2020-01-21,1,Sector One,Aethra,Aethra,0,1,...,603.0,135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
for league in temp_df['league_name'].unique():
    for year in temp_df['year'].unique():
        for season in temp_df['season'].unique():
            aa = temp_df[(temp_df['league_name']==league) & (temp_df['year']==year) & (temp_df['season']==season)]
            teams = set(aa['team_1'])
            teams.update(set(aa['team_2']))
            if len(teams) == 0:
                continue
            if league in ['LCK']:
                print(f'League: {league}, Year: {year}, Season: {season}\n{list(teams)}\n')

League: LCK, Year: 2020, Season: spring
['T1', 'Griffin', 'SeolHaeOne Prince', 'KT', 'Afreeca', 'DragonX', 'Sandbox', 'Hanwha', 'Damwon', 'GenG']

League: LCK, Year: 2020, Season: summer
['T1', 'DragonX', 'GenG', 'Sandbox', 'SeolHaeOne Prince', 'Dynamics', 'KT', 'Hanwha', 'Damwon', 'Afreeca']

League: LCK, Year: 2017, Season: spring
['T1', 'Jin Air', 'MVP', 'KT', 'bbq', 'ROX', 'Afreeca', 'DragonX', 'Samsung Galaxy', 'Kongdoo']

League: LCK, Year: 2017, Season: summer
['T1', 'Jin Air', 'MVP', 'KT', 'bbq', 'ROX', 'Afreeca', 'DragonX', 'Samsung Galaxy', 'Ever8']

League: LCK, Year: 2018, Season: spring
['T1', 'Jin Air', 'MVP', 'KT', 'bbq', 'ROX', 'Afreeca', 'DragonX', 'Kongdoo', 'GenG']

League: LCK, Year: 2018, Season: summer
['T1', 'Griffin', 'Jin Air', 'MVP', 'KT', 'bbq', 'Afreeca', 'DragonX', 'Hanwha', 'GenG']

League: LCK, Year: 2019, Season: spring
['T1', 'Griffin', 'Jin Air', 'KT', 'Afreeca', 'DragonX', 'Sandbox', 'Hanwha', 'Damwon', 'GenG']

League: LCK, Year: 2019, Season: summer
['T1', 'Griffin', 'Jin Air', 'KT', 'Afreeca', 'DragonX', 'Sandbox', 'Hanwha', 'Damwon', 'GenG']

In [ ]:
"""
team_kills = team_kpm
team_deaths = team_deathpm
team_baron_kills = team_baronpm
team_dragon_kills = team_dragonpm
team_tower_kills = team_towerpm
team_inhib_kills = team_inhibpm
team_total_gold = team_goldpm
team_minion_kills = team

"""
col_to_norm = ['team_kills', 'team_deaths', '']

In [ ]:
col_uniq = ['league_name', 'year', 'season', 'date', 'set_number', 'team_1', 'team_2', 'corresponding_team', 'tiebreaker', 'match_round']
col_to_use = ['team_kills', 'team_deaths', 'team_kpm', 'team_baron_kills', 'team_dragon_kills', 'team_rift_kills', 'team_tower_kills', '', '']

In [17]:
cat_feats = ['wdl', 'side', '']

In [23]:
pd.get_dummies(temp_df, columns=cat_feats, drop_first=True).columns

Index(['league_name', 'year', 'season', 'date', 'set_number', 'team_1',
       'team_2', 'corresponding_team', 'tiebreaker', 'match_round', 'side',
       'game_length', 'top_player', 'jg_player', 'mid_player', 'bot_player',
       'sup_player', 'ban1', 'ban2', 'ban3', 'ban4', 'ban5', 'team_kills',
       'team_deaths', 'team_double', 'team_triple', 'team_quadra',
       'team_penta', 'team_kpm', 'team_first_blood', 'team_first_baron',
       'team_first_dragon', 'team_first_elder', 'team_first_rift',
       'team_first_tower', 'team_first_inhib', 'team_first_midtower',
       'team_first_three_towers', 'team_baron_kills', 'team_dragon_kills',
       'team_elder_kills', 'team_rift_kills', 'team_tower_kills',
       'team_inhib_kills', 'team_total_gold', 'team_earned_gold',
       'team_minion_kills', 'team_monster_kills', 'team_goldat10',
       'team_goldat15', 'team_golddiffat10', 'team_golddiffat15',
       'team_csat10', 'team_csat15', 'team_csdiffat10', 'team_csdiffat15',
       'wdl_W'],
      dtype='object')

In [4]:
df = db.get_table('view_set_match_player_performance')

In [5]:
list(df.columns)

['league_name',
 'year',
 'season',
 'date',
 'set_number',
 'team_1',
 'team_2',
 'corresponding_team',
 'tiebreaker',
 'match_round',
 'player_name',
 'champion_name',
 'wdl',
 'side',
 'team_first_blood',
 'team_baron_kills',
 'team_dragon_kills',
 'team_rift_kills',
 'game_length',
 'kills',
 'deaths',
 'assists',
 'double',
 'triple',
 'quadra',
 'penta',
 'first_blood',
 'total_gold',
 'earned_gold',
 'total_cs',
 'minion_kills',
 'monster_kills',
 'cspm',
 'goldat10',
 'golddiffat10',
 'goldat15',
 'golddiffat15',
 'csat10',
 'csdiffat10',
 'csat15',
 'csdiffat15',
 'largest_killing_spree',
 'largest_multi_kill',
 'total_damage_dealt_to_champions',
 'total_damage_taken',
 'vision_wards_bought_in_game']

In [6]:
df.head()

,league_name,year,season,date,set_number,team_1,team_2,corresponding_team,tiebreaker,match_round,...,golddiffat15,csat10,csdiffat10,csat15,csdiffat15,largest_killing_spree,largest_multi_kill,total_damage_dealt_to_champions,total_damage_taken,vision_wards_bought_in_game
0,BRCC,2017,spring,2017-01-24,1,ProGaming Esports,IDM Pirata,ProGaming Esports,0,1,...,2078.0,87.0,30.0,137.0,48.0,NaN,NaN,NaN,NaN,NaN
1,BRCC,2017,spring,2017-01-24,1,ProGaming Esports,IDM Pirata,ProGaming Esports,0,1,...,2471.0,68.0,8.0,112.0,19.0,NaN,NaN,NaN,NaN,NaN
2,BRCC,2017,spring,2017-01-24,1,ProGaming Esports,IDM Pirata,IDM Pirata,0,1,...,-2078.0,57.0,-30.0,89.0,-48.0,NaN,NaN,NaN,NaN,NaN
3,BRCC,2017,spring,2017-01-24,1,ProGaming Esports,IDM Pirata,ProGaming Esports,0,1,...,2169.0,43.0,4.0,70.0,21.0,NaN,NaN,NaN,NaN,NaN
4,BRCC,2017,spring,2017-01-24,1,ProGaming Esports,IDM Pirata,IDM Pirata,0,1,...,-2169.0,39.0,-4.0,49.0,-21.0,NaN,NaN,NaN,NaN,NaN